@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";
@use "../../styles/mixins" as mixins2;


.CreateAffirmationsContainer {
  width: 100%;  
}

.CreateAffirmationsHeaderContainer {
  width: 100%;
  padding: 10px 10px;
  @include mixins.flex(row, left, center, nowrap);
  div {
    @include mixins.flex(row, flex-start, center, nowrap);
  }
  .CreateAffirmationsAddBtn {
    @include mixins.flex(row, center, center, nowrap);
    background-color: variables.$grayColor8;
    color: variables.$fontColor1;
    padding: 5px 10px;
    font-size: 1rem;
    @include mixins.border(solid, 1px, 5px, variables.$grayColor8);
    margin-left: 10px;
    &:hover {
      @include mixins.border(solid, 1px, 5px, variables.$fontColor1);
      cursor: pointer;
    }
  }
  .CreateAffirmationsCheckbox {
    color: variables.$actionColor1;
  }
  h5 {
    color: variables.$grayColor3;
  }
}

.CreateAffirmationsForm {
  width: 100%;
  background-color: variables.$grayColor5;
  border-radius: 5px;
  padding: 10px;

  .CreateAffirmationsFormTopContainer {
    @include mixins.flex(row, space-between, center, nowrap);
    width: 100%;

    .CreateAffirmationsFormD1 {
      width: 75%;    
      .CreateAffirmationsFormD1Inputs {
        margin-right: 10px;
        width: 50%;
        @include mixins.flex(column, flex-start, center, nowrap);
        input {
          width: 100%;
          color: variables.$fontColor1;
          background-color: variables.$grayColor7;
          padding: 7.5px 10px;
          font-size: 1.25rem;
        }
      }
      .CreateAffirmationsFormD1Btns{
        width: 50%;
        @include mixins.flex(row, flex-start, flex-start, nowrap);
        div {
          @include mixins.flex(column, center, flex-start, nowrap);
        }
        .CreateAffirmationsFormButtonDone {
          width: 100px;
          color: variables.$actionColor1;
          @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
          padding: 6px 15px;
          background-color: transparent;
          margin: 2px 20px;
          font-size: 1.25rem;
          opacity: 0.8;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
        .CancelAffirmationsFormButtonDone {
          width: 100px;
          color: variables.$actionColor2;
          @include mixins.border(solid, 1px, 5px, variables.$actionColor2);
          padding: 6px 15px;
          background-color: transparent;
          margin: 2px 0px;
          font-size: 1.25rem;
          opacity: 0.8;
          z-index: 100;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
        button {
          width: 100%;
          border-radius: 5px;
          background-color: variables.$grayColor7;
        }
      }
    }
  
    .CreateAffirmationsFormD2 {
      @include mixins.flex(row, flex-end, center, nowrap);
      width: 25%;
      div {
        @include mixins.flex(row, space-between, center, wrap);
        width: 25%;
        padding: 0px 10px;
      }
    }
  }

  hr {
    border-color: variables.$grayColor4;
    margin: 10px 0px;
  }

}

.CreateAffirmationsList {
  margin-top: 10px;
}

.CreateAffirmationsChipsContainer {
  @include mixins.flex(row, flex-start, center, wrap);
  padding: 10px 0px;
  width: 100%;
}

.CreateAffirmationsCountCheckbox {
  @include mixins2.CountCheckboxInBtn();
}

.inputBorderError {
  @include mixins.border(solid, 1px, 5px, variables.$actionColor4);
}

.inputBorder {
  @include mixins.border(solid, 1px, 5px, transparent);
}

.CreateAffirmationsFormD1FlexError {
  @include mixins.flex(row, flex-start, flex-start, nowrap);
}

.CreateAffirmationsFormD1Flex {
  @include mixins.flex(row, flex-start, center, nowrap);
}

.btnTopicsError {
  @include mixins.border(solid, 1px, 5px, variables.$actionColor4);
}

.btnTopics {
  @include mixins.border(solid, 1px, 5px, transparent);
}

.errorMessage {
  color: variables.$actionColor4;
  font-size: 0.9rem;
  margin-top: 2.5px;
  width: 100%;
}

.CreateAffirmationsHeaderActions {
  @include mixins.flex(row, flex-start, center, nowrap);
  button {
    background-color: transparent;
    @include mixins.border(solid, 1px, 5px, variables.$grayColor3);
    color: variables.$grayColor3;
    padding: 5px 15px;
    margin-left: 10px;
    font-size: 1rem;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      @include mixins.border(solid, 1px, 5px, variables.$grayColor3);
      cursor: pointer;
    }
  }  
}
