@import '../../styles/index.scss';

.PaginationContainer{
  padding: 10px 0px;
  color: $fontColor1;
}

.test {
  ul {
    color: $fontColor1 !important;
    li {
      color: $fontColor1 !important;
      button {
        color: $fontColor1 !important;
        @include border(solid, 1px, 5px, $grayColor3);
        font-size: 1rem;
        &:hover {
          opacity: 0.8;
        }
        &:hover, &:focus, &:active {
          @include border(solid, 1px, 5px, $fontColor1);
          cursor: pointer;
          background-color: $actionColor1;
        }
      }
    }
  }
}