@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.PaginationContainer{
  padding: 10px 0px;
  color: variables.$fontColor1;
}

.test {
  ul {
    color: variables.$fontColor1 !important;
    li {
      color: variables.$fontColor1 !important;
      button {
        color: variables.$fontColor1 !important;
        @include mixins.border(solid, 1px, 5px, variables.$grayColor3);
        font-size: 1rem;
        &:hover {
          opacity: 0.8;
        }
        &:hover, &:focus, &:active {
          @include mixins.border(solid, 1px, 5px, variables.$fontColor1);
          cursor: pointer;
          background-color: variables.$actionColor1;
        }
      }
    }
  }
}