@import '../../styles/index.scss';

.NewAffirmationContainer {
  width: 100%;
  @include flex(column, space-between, flex-start, wrap);
  background-color: $grayColor5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.NewAffirmationSTop {
  @include flex(row, space-between, center, wrap);
  width: 100%;
  .NewAffirmationS1 {
    @include flex(row, flex-start, center, wrap);
    width: 75%;
    h4 {
      font-size: 16px;
      color: $fontColor1;
    }
    .NewAffirmationCheckbox {
      color: $actionColor1 !important;
    }
    .NewAffirmationEditTitleContainer {
      width: 90%;
      input {
        width: 60%;
        border-style: none;
        border-radius: 5px;
        color: $fontColor1;
        background-color: $grayColor7;
        padding: 5px 10px;
        font-size: 16px;
        margin-right: 10px;
      }
      button {
        width: 100px;
        color: $actionColor1;
        @include border(solid, 1px, 5px, $actionColor1);
        padding: 6px 15px;
        background-color: transparent;
        margin-right: 20px;
        font-size: 16px;
        &:hover {
          cursor: pointer;
          @include border(solid, 1px, 5px, $fontColor1);
        }
      }
    }
  }
  
  .NewAffirmationS2 {
    @include flex(row, space-between, center, wrap);
    width: 25%;
  
    .NewAffirmationS2TopicsBtn {
      width: 50%;
      button {
        width: 150px;
        border-radius: 5px;
        background-color: $grayColor7;
      }
    }
    
    .NewAffirmationS2Icons {
      @include flex(row, space-between, center, wrap);
      width: 25%;
      padding: 0px 10px;
      .NewAffirmationMenuActions {
        width: 50%;
        div ul {
          @include flex(column, flex-start, center, nowrap);
          button {
            padding: 0px;
            width: 100%;
            div {
              padding: 5px 15px;
            }
          }
        }
      }
      button {
        width: 50%;
        border-style: none;
        background-color: transparent;
        opacity: 0.8;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

.NewAffirmationSBottom {
  width: 100%;
  @include flex(row, flex-start, center, wrap);
}

.NewAffirmationCountCheckbox {
  @include CountCheckboxInBtn();
}