@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.SageDashboardContainer {
  width: 100%;
  @include mixins.flex(column, space-between, center, nowrap);
  border-radius: 5px;
  padding: 20px;
}

.SageDashboardSectionContainer {
  margin: 10px;
  background-color: variables.$grayColor6;
  border-radius: 5px;
  padding: 20px 40px;
  width: 100%;

  .SageDashboardSectionInfoContainer {
    width: 100%;
  }
}