@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";
@use "../../styles/mixins" as mixins2;


.AffirmationsListContainer {
  width: 100%;
  height: 100%;
  background-color: variables.$grayColor6;
  color: variables.$fontColor1;
  border-radius: 5px; 
}

.AffirmationsListFilterBtnMenuContainerTheme1 {
  @include mixins.flex(row, flex-start, center, nowrap);
  width: 100%;
}

.AffirmationsListFilterBtnMenuContainerTheme2 {
  @include mixins.flex(row, flex-end, center, nowrap);
  width: 50%;
}

.AffirmationsListFiltersContainer {
  padding: 10px 0;
  width: 100%;
  @include mixins.flex(row, space-between, center, wrap);
  .AffirmationsListFilterBtnMenu {
    min-width: 30%;
    height: 100%;
    @include mixins.flex(row, space-between, center, wrap);
    @include mixins.border(solid, 1px, 5px, variables.$grayColor5);
    color: variables.$fontColor1;
    background-color: variables.$grayColor5;
    padding-left: 10px 5px;
    margin-right: 10px;
    &:hover{
      @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
    }
  }
}

.AffirmationsListBodyContainer {
  @include mixins.flex(column, space-between, center, nowrap);
  height: auto;
  // max-height: 100%;
  width: 100%;

  .AffirmationsListAffirmationChartContainer {
    @include mixins.flex(column, space-between, center, nowrap);
    width: 100%;
  }

  .AffirmationsListAffirmationChartPagination{
    @include mixins.flex(row, flex-end, center, nowrap);
    width: 100%;
  }
  .AffirmationsListChipsContainer {
    @include mixins.flex(row, flex-start, center, wrap);
    width: 100%;
  }
  .AffirmationsListChipsUp {
    margin-bottom: 10px;
  }
}

.AffirmationsListFilterBtnMenuComponent {
  width: 100%;
}   

.AffirmationsListFilterBtnMenuTitleContainer {
  @include mixins2.G50HeaderTitleContainer();  
}

.AffirmationsListMultipleSelectCheckboxItemCount {
  @include mixins2.CountCheckboxInBtn();
}

