@use '../../styles/index.scss';
@use "../../../styles/mixins" as mixins2;
@use "../../../styles/variables";
@use "../../styles/mixins";


.TrackAffirmationsHeaderContainer { 
  @include mixins.G50HeaderContainer(); 
  padding-top: 12px; 
}

.TrackAffirmationsHeaderTitleContainer {
  @include mixins.G50HeaderTitleContainer();   
}

.TrackAffirmationsHeaderBtnContainer {
  button {
    @include mixins2.border(solid, 2px, 5px, variables.$grayColor4);
    background-color: variables.$grayColor5;
    padding: 10px 15px;
    font-size: 1rem;
    color: variables.$fontColor1;
    &:hover {
      @include mixins2.border(solid, 2px, 5px, variables.$actionColor3);
      cursor: pointer;
    }
  }
}