@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.PackContainer {
  padding: 10px;
  position: relative;
 
  .PackImgContainer {
    width: 100%;
    height: 35vh;
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
    // height: 75%;
    border-radius: 5px;
    // margin-bottom: 10px;
    @include mixins.backgroundImg(cover)
  }
  .PackCheckbox {
    position: absolute;
    top: 5px;
    left: 5px;
    color: variables.$actionColor1;
  }
}
.PackBodyContainer {
  @include mixins.flex(column, space-between, center, nowrap);
  height: 25%;
  padding: 10px 0px;
  color: variables.$fontColor1;
  span {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  div {
    padding: 5px 10px;
    background-color: variables.$grayColor7;
    border-radius: 5px;
    span {
      font-size: 1rem;
      color: variables.$grayColor3;
      margin-right: 10px;
    }
  }
}
