@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.HeaderContainer {
  @include mixins.flex(row, space-between, center, wrap);
  padding: variables.$step1 0px;  
  width: 100%;
}

.HeaderLeftContainer {
  width: 50%;
  .HeaderBack, .HeaderPeople {
    @include mixins.flex(row, flex-start, center, wrap);
    .HeaderLeftIcon {
      margin-right: variables.$step1;
    }
    span {
      font-size: 1rem;
      color: variables.$fontColor1;
    }
  }    
  .HeaderBack {
    &:hover {
      text-decoration: none;
      cursor: pointer;
      span {        
        color: variables.$actionColor1;
      }
    }
  }
}

.HeaderRightContainer {
  width: 50%;
  .HeaderCalendar {
    @include mixins.flex(row, flex-end, center, wrap);
    .HeaderCalendarIcon,
    span {      
      font-size: 1rem;
      color: variables.$fontColor1;
    };
  }

  .HeaderSeparator {
    padding: 0px 10px;
  }
}



