@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.UserListContainer {
  width: 100%;
  padding: 20px;
}

.UsersListHeaderContainer {
  width: 100%;
  @include mixins.flex(column, center, flex-start, nowrap);
}

.UsersListHeaderTitle {
  width: 100%;
  padding: 10px 0px;
}

.UsersListHeaderAction {
  width: 100%;
  @include mixins.flex(row, space-between, center, nowrap);
  div {
    @include mixins.flex(row, flex-start, center, nowrap);
    padding: 10px 0px;

    button {
      margin-right: 10px;
      font-size: 1rem;
      background-color: variables.$grayColor8;
      color: variables.$grayColor2;
      padding: 5px 10px;
      opacity: 0.95;
      @include mixins.border(solid, 1px, 5px, variables.$grayColor8);
      
      &:hover {
        color: variables.$fontColor1;
        opacity: 1;
        cursor: pointer;
        @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
      }
    }

  }
}

.UsersListHeaderActionActiveBtn {
  color: variables.$fontColor1 !important;
  opacity: 1 !important;
  cursor: pointer;
  border: solid 1px variables.$actionColor1 !important;
  border-radius: 5px !important;
}

.UserListPagination {
  width: 100%;
  @include mixins.flex(row, flex-end, center, nowrap);
}
