@import '../../styles/index.scss';

.TopicContainer {
  position: relative;
  margin: 10px;
  border-radius: 5px;
  @include backgroundImg(cover);
}

.TopicBodyContainer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  .TopicCheckbox {
    color: $actionColor1;
  }
  div {
    @include flex(column, center, center, nowrap);    
    span {
      color: $fontColor1;
      margin-top: 10px;
    }
  }
}

