@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


$size: 11vh;

.PieChartContainer {
  @include mixins.flex(column, center, center, nowrap);
  @include mixins.border(none, 0px, 5px, transparent);
  background-color: variables.$grayColor5;
  padding: 5px;
  width: 100%;
  height: 95%;
  margin: 10px;
  h4 {
    color: variables.$grayColor2;
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
}

.PieChartDataContainer {
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
  color: variables.$fontColor1;
  text-align: center;
  position: relative;
}

.PieChartCenterText {
  position: absolute;
  top: 0;
  right:20px;
  bottom: 0;
  left: 20px;
  font-size: 1rem;
  color: variables.$fontColor1;
  text-align: center;
  pointer-events: none;
  @include mixins.flex(column, center, center, nowrap);
}