@import-normalize;
@import './variables.scss';
@import './fonts.scss';

* {
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Biotif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiBadge-colorPrimary {
  background-color: $actionColor1 !important;
}

.MuiListItem-gutters {
  padding-left: 0px !important;
  padding-right: 0px !important;
}