// colors
$backgroundColor1: #071215;
$backgroundColor2: #151e1f;
$backgroundColor3: #242a2b;
$fontColor1: #ffffff;
$fontColor2: #cccccc;
$actionColor1: #15E7BC;
$actionColor2: #FF46B5;
$actionColor3: #56CCF2;

// steps
$step1: 10px;
$step2: 20px;
$step3: 30px