@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.MultipleSelectCheckboxContainer {
  @include mixins.flex(row, center, center, nowrap);
  position: relative;
  button {
    width: 100%;
    @include mixins.flex(row, space-between, center, nowrap);
    span {
      color: variables.$fontColor1;
      margin-right: 10px;
    }
  }
}

.MultipleSelectCheckboxMenuItem {
  .MultipleSelectCheckboxMenuItemCheckbox {
    color: variables.$actionColor1 !important;
  }
  div {
    padding-right: 10px;
  }
}

.MultipleSelectCheckboxButton {
  opacity: 1;
  color: variables.$fontColor1;
  background-color: transparent;
  @include mixins.border(none, 0px, 0px, transparent);
  &:hover, &:focus, &:active {
    @include mixins.border(none, 0px, 0px, transparent);
  }
}

.MultipleSelectCheckboxButtonDisabled {
  opacity: 0.8;
}
