@import '../../styles/index.scss';

.ClientFlowContainer {
  @include HomeG50Container(); 
}

.ClientFlowBodyContainer {
  @include HomeG50BodyContainer();
}

.ClientFlowHeaderContainer { 
  @include HomeG50HeaderContainer();
}

.ClientFlowHeaderTitleContainer {
  width: 45%;
  @include HomeG50HeaderTitleContainer(); 
}

.ClientFlowHeaderChartsS1Container {
  width: 55%;
  @include flex(row, space-between, center, wrap);
}

.ClientFlowBodyChartContainer {
  height: 80%;
  max-height: 80%;
  width: 100%;
  @include flex(column, space-between, flex-start, wrap);
}

.ClientFlowHeaderChartsS2Container {
  width: 100%;
  @include flex(row, center, center, wrap);
}

.ClientFlowChartS3Container {
  width: 100%;
  @include flex(row, space-around, center, wrap);
}