@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.AffirmationChartContainer {
  width: 100%;  
  button {
    z-index: variables.$zIndexLevel998;
    @include mixins.border(solid, 1px, 5px, transparent);
    @include mixins.flex(column, center, flex-start, nowrap);
    width: 100%;  
    padding: 5px 10px;
    background-color: variables.$grayColor5;
    margin-bottom: 10px;
    &:hover, &:focus, &:active {
      @include mixins.border(solid, 1px, 5px, variables.$fontColor1);
      cursor: pointer;
    }
  }
}

.AffirmationChartBtnActive {
  background-color: variables.$grayColor4 !important;
}

.AffirmationChartText {
  color: variables.$fontColor1;
  font-size: 1rem;
}

.AffirmationChartChartContainer {
  width: 100%;
  padding: 2.5px 0px; 
  @include mixins.flex(row, flex-start, center, nowrap);
}

.AffirmationChartChart {
  height: 7.5px;
  max-height: 7.5px;  
  border-radius: 0px 5px 5px 0px;
  margin-right: 5px;
}

.AffirmationChartChartText {
  color: variables.$fontColor1;
  font-size: 1rem;
}
