@use '../../styles/index.scss';
@use "../../../styles/mixins" as mixins2;
@use "../../../styles/variables";
@use "../../styles/mixins";


.SymbolContainer {
  position: relative;
  @include mixins.G50Container();  
  @include mixins.heightGrid();
  @include mixins2.flex(column, center, center, nowrap);
}

.SymbolBtnsTestContainer {
  position: absolute;
  top: 0;
  right: 0;  
  @include mixins2.flex(row, center, center, nowrap);
  button {
    @include mixins2.border(solid, 1px, 5px, variables.$actionColor1);
    color: variables.$fontColor1;
    margin-left: 2.5px;
    padding: 2.5px;
    background-color: variables.$grayColor8;
  }
}