@import '../../styles/index.scss';

.ArrowChartContainer {
  @include flex(column, center, flex-start, nowrap);
  padding: 10px 15px;
  background-color: $backgroundColor2;
  border-radius: 5px;
  span {
    color: $grayColor2;
    font-size: 14px;
  }
  div {
    width: 100%;
    @include flex(row, space-between, center, wrap);
    span {
      color: $fontColor1;
      font-weight: bold;
      font-size: 15px;
      margin-right: 2.5px;
    }
  }
}