@import '../../styles/index.scss';

.CreateAffirmationsContainer {
  width: 100%;  
}

.CreateAffirmationsHeaderContainer {
  width: 100%;
  padding: 10px 0px;
  @include flex(row, flex-start, center, nowrap);
  button {    
    @include flex(row, center, center, nowrap);
    background-color: $grayColor8;
    color: $fontColor1;
    padding: 5px 10px;
    font-size: 16px;
    @include border(solid, 1px, 5px, $grayColor8);
    margin-left: 10px;
    &:hover {
      @include border(solid, 1px, 5px, $actionColor1);
      cursor: pointer;
    }
  }  
  .CreateAffirmationsCheckbox {
    color: $actionColor1;
  }
}

.CreateAffirmationsForm {
  width: 100%;
  @include flex(row, space-between, center, nowrap);
  background-color: $grayColor5;
  border-radius: 5px;
  padding: 10px;

  .CreateAffirmationsFormD1 {
    @include flex(row, flex-start, center, nowrap);
    width: 80%;
    div {
      margin-right: 10px;
      width: 50%;
      @include flex(column, flex-start, center, nowrap);
      input {
        width: 100%;
        border-style: none;
        border-radius: 5px;
        color: $fontColor1;
        background-color: $grayColor7;
        padding: 5px;
      }
    }
    button {
      color: $actionColor1;
      @include border(solid, 1px, 5px, $actionColor1);
      padding: 5px 10px;
      background-color: transparent;
      margin-right: 10px;
    }
  }

  .CreateAffirmationsFormD2 {
    @include flex(row, space-between, center, nowrap);
    width: 50px;
  }
}