@import '../../styles/index.scss'; // global styles
.global {
    overflow-x: hidden;
    overflow-y: hidden;
}

.backgroundImg {
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #15E7BC;
}

a:active {
    color: #15E7BC;
}