@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.MenuListCompositionContainer {
  @include mixins.flex(row, center, center, nowrap);
  z-index: variables.$zIndexLevel999;
  button {
    width: 100%;
    @include mixins.flex(row, space-between, center, nowrap);
    span {
      color: variables.$fontColor1;
      margin-right: 10px;
    }
  }
}

.MenuListCompositionMenuContainer {
  background-color: variables.$grayColor6;
  @include mixins.border(solid, 1px, 5px, variables.$grayColor4);
}

.MenuListCompositionItem {
  @include mixins.border();
  @include mixins.flex(column, center, center, nowrap);
  @include mixins.font(variables.$fontColor1, 1rem);
  width: 100%;
  background-color: transparent;  
  &:hover {
    background-color: variables.$actionColor1;
    cursor: pointer;
  }  
}