@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.WrongOrientationContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: variables.$grayColor7;
  z-index: 100000000000000;
  overflow-y: hidden;
  overflow-x: hidden;
  @include mixins.flex(column, center, center, nowrap);
  .WrongOrientationImgContainer {
    @include mixins.backgroundImg();
    background-image: url('../../assets/img/rotate-smartphone.svg');
    width: 25%;
    height: 25%;
  }
  .WrongOrientationTextContainer {
    width: 100%;
    text-align: center;
    @include mixins.flex(column, center, center, nowrap);
    b, span {
      margin-top: 10px;
      color: variables.$fontColor1
    }
    b {
      font-size: 1.5rem;
    }
  }
}
