@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.ClientContainer {
  width: 100%;
  flex: 1;
}

.ClientG1Container {
  background-color: variables.$grayColor6;
  border-radius: 5px;
  width: 100%;
  @include mixins.flex(row, flex-start, center, wrap);
  margin-bottom: 20px;
}
