// Home Grid 50%
@mixin G50Container {
  background-color: $grayColor6;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  @include flex(row, flex-start, center, wrap);
}

@mixin heightGrid {
  max-height: 450px;
  height: 450px;
}

// Home Grid 50%
@mixin G50BodyContainer {
  width: 100%;
  height: 100%;
  @include flex(column, flex-start, flex-start, wrap);
}

// Home Grid 50%
@mixin G50HeaderContainer { 
  height: 15%;
  width: 100%;
  @include flex(row, space-between, center, nowrap);
}

// Home Grid 50%
@mixin G50HeaderTitleContainer {
  h3 {
    color: $fontColor1;
    font-weight: bold;
    font-size: 18px;
  }
}