@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.AddToPackContainer {
  width: 100%;
}

.AddToPackBodyContainer {
  width: 100%;
  padding: 20px 0px;
  padding-right: 10px;
  min-height: 300px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  @include mixins.flex(column, flex-start, center, nowrap);
  .AddToPackItemContainer {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: variables.$grayColor6;
    @include mixins.border(solid, 1px, 5px, transparent);
    @include mixins.flex(row, space-between, center, nowrap);
    .AddToPackItemTitle {
      color: variables.$fontColor1;
      padding-left: 10px;
    }
    .AddToPackRadio {
      span {
        color: variables.$actionColor1 !important;
      }
    }
    &:hover {
      cursor: pointer;
      @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
    }
  }  
}

.AddToPackFooterContainer {
  width: 100%;
  padding: 20px 0px;
  @include mixins.flex(column, flex-end, flex-end, nowrap);
  button {
    padding: 5px 10px;
    width: 40%;
    background-color: variables.$grayColor6;
    color: variables.$grayColor1;
    @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
    opacity: 0.9;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .AddToPackError {
    color: variables.$actionColor4;
    font-size: 13px;
  }
}


