@import '../../styles/index.scss';

.UserContainer {
  width: 100%;
  background-color: $grayColor5;
  @include border(solid, 0px, 5px, transparent);
  @include flex(row, space-between, center, nowrap);
  padding: 0px 5px;
  margin-bottom: 5px;
  max-height: 65px;
  height: 65px;
  
  .UserBodySummary {
    @include flex(row, space-between, center, nowrap);
  }

  .UserBodyContainer {    
    @include flex(row, flex-end, center, nowrap);
    width: 50%;
    div {
      max-width: 100px;
      width: 100px;
    }
  }

  .UserChartContainer {
    width: 125px;
    height: 50px;
  }

  .UserAvatarContainer {
    @include flex(row, flex-start, center, nowrap);
    span{
      color: $fontColor1;
      font-weight: 700;
    }
    div {
      margin-left: 5px;
      @include flex(column, center, flex-start, nowrap);
    }
  }
}

.UserAvatarContainerRenderName {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
    span {
      color: $actionColor1;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .UserBodyContainer {    
    @include flex(row, flex-end, center, nowrap);
    width: 100% !important;
  }

  .UserChartContainer {
    display: none;
  }
}