@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.ModalComponentContainer {
  button {
    background-color: transparent;
    border-style: none;
  }
}

.ModalContainer {
  @include mixins.flex(row, center, center, nowrap);  
}

.ModalComponentBodyContainer {
  width: 30vw;
  background-color: variables.$grayColor8;
  padding: 20px;
}

.ModalComponentHeader {
  width: 100%;
  padding: 10px 0px;
  @include mixins.flex(row, space-between, center, nowrap);
  span {
    color: variables.$fontColor1;
    font-size: 1.5rem;
  }
  button {
    border-style: none;
    background-color: transparent;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }  
}