@use '../../styles/index.scss';
@use "../../styles/mixins";
@use "../../styles/variables";


.NotFound404Container {
  background: linear-gradient(to bottom, variables.$actionColor1, variables.$actionColor3, variables.$actionColor2);
  color: variables.$fontColor1;
  width: 100vw;
  height: 100vh;
  @include mixins.flex(column, center, center, wrap);
}