
@import '../../styles/index.scss';

.LayoutContainer {
  @include flex(row, center, center, wrap);
  background-color: $backgroundColor2;
}

.LayoutLinkTo {
  text-decoration: none;
  color: $fontColor1;
}

.LayoutLinkToIcon, .LayoutAvatarImgContainer {
  padding: $step1 $step3 * 0.6;
}

.LayoutLinkToText, .LayoutAvatarText {
  color: $fontColor1;
  font-size: 16px;
}

.LayoutLinkToTextContainer, .LayoutAvatarTextContainer {
  @include flex(column, center, flex-start, wrap);
  padding: $step1 $step3 * 0.6;
}

.LayoutLinkToSubText, .LayoutAvatarSubText {
  color:$fontColor2;
  margin-right: $step1;
}

.LayoutLinkToSelected {
  .LayoutLinkToIcon {
    background-color: $actionColor1;
    border-radius: 0px 5px 5px 0px;
  }
  .LayoutLinkToText {
    color: $actionColor1;
  }
}

.LayoutchildrenContainer { 
  min-height: 85vh;
  width: 100%;
}

.LayoutAppBarLeftIconsContainer {
  @include flex(row, space-between, center, wrap);  
  width: 100%;
}

.LayoutListContainer {
  @include flex(column, space-between, flex-start, wrap);  
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.LayoutAvatarSubTextContainer {
  @include flex(row, center, center, wrap);
}

.LayoutAppBarLogo {
  background-image: url('../../assets/logo_sensie_white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-width: 1px;
  width: 91px;
  height: 32.78px;
}