@import '../../styles/index.scss';

.MultipleSelectCheckboxContainer {
  color: $fontColor1;
  width: 100%;
}

.MultipleSelectCheckboxTextContainer {
  @include flex(row, center, center, nowrap);
  color: $fontColor1;
}

.MultipleSelectCheckboxInputCount {
  background-color: $fontColor1;
  color: $grayColor6;
  @include border(solid, 1px, 5px, $fontColor1);
  padding: 5px;
  margin-right: 10px;
}

.MultipleSelectCheckboxMenuItem {
  .MultipleSelectCheckboxMenuItemCheckbox {
    color: $actionColor1;
  }
}

.test {
  background-color: rebeccapurple;
}