@use '../../styles/index.scss';
@use "../../../styles/mixins";
@use "../../../styles/variables";


.ShareWithContainer {
  width: 100%;
  min-height: 50vh;
  height: 50vh;
  overflow-y: visible;
  overflow-x: hidden;
  @include mixins.flex(column, flex-start, flex-start, nowrap);
  .ShareWithListContainer {
    width: 100%;
    @include mixins.flex(column, flex-start, flex-start, nowrap);
 
    .ShareWithHeaderContainer {
      width: 100%;
      .ShareWithCheckbox {
        color: variables.$actionColor1;
      }
      span {
        color: variables.$fontColor1;
        font-size: 1rem;
      }
      @include mixins.border(solid, 0px 0px 1px 0px, 0px, variables.$fontColor1);
    }
  }
}
.ShareWithPublicAvailable {
  width: 100%;
  
  .ShareWithFooterContainer {
    width: 100%;
    @include mixins.flex(row, space-between, center, nowrap);
    button {
      background-color: variables.$grayColor6;
      color: variables.$actionColor1;
      @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
      padding: 5px 10px;
      opacity: 0.9;
      margin: 0px 5px;
      font-size: 1.5rem;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  } 
}

.ShareWithItemCheckboxTitle {
  color: variables.$fontColor1;
  font-size: 1rem;
}
