@use "../../styles/index.scss";
@use "../../../styles/mixins";
@use "../../../styles/variables";


.OptionsBtn {
  padding: 0;
}

.UpdatePackBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background-color: #151e1f;
  border-radius: 5px;
  cursor: pointer;
}

.CreatePackBody {
  @include mixins.flex(row, space-between, center, wrap);
  height: 180px;
  padding: 10px;
}

.CreactePackBodyBtnImg {
  width: 30%;
  @include mixins.border(solid, 1px, 5px, variables.$fontColor1);
  @include mixins.backgroundImg(cover);
  height: 100%;
  label {
    padding: 10px;
    height: 100%;
    color: variables.$fontColor1;
    @include mixins.flex(column, center, center, nowrap);
  }
  input {
    display: none;
  }
  &:hover {
    cursor: pointer !important;
    @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
    label {
      color: variables.$actionColor1;
    }
  }

  .CreatePackBtnImgLabel {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
  }
}

.CreatePackBodyForm {
  width: 60%;
  height: 100%;
  @include mixins.flex(column, space-between, center, nowrap);
  .CreatePackBodyFormInput {
    width: 100%;
    padding: 5px 10px;
    @include mixins.flex(column, space-between, flex-start, nowrap);
    label {
      color: variables.$fontColor1;
      margin-bottom: 1px;
    }
    input {
      width: 100%;
      background-color: variables.$grayColor6;
      color: variables.$fontColor1;
      padding: 5px;
    }
    span {
      font-size: 13px;
      color: variables.$actionColor4;
    }
  }
  .CreatePackBodyFormBtn {
    width: 100%;
    padding: 10px 10px;
    button {
      float: right;
      background-color: variables.$grayColor6;
      color: variables.$actionColor1;
      padding: 5px 15px;
      @include mixins.border(solid, 1px, 5px, transparent);
      &:hover {
        cursor: pointer;
        @include mixins.border(solid, 1px, 5px, variables.$actionColor1);
      }
    }
  }
}

#iconButtonFile {
  display: none;
}

.inputBorderError {
  @include mixins.border(solid, 1px, 5px, variables.$actionColor4);
}

.inputBorder {
  @include mixins.border(solid, 1px, 5px, transparent);
}

.MenuListCompositionMenuContainer {
  background-color: variables.$grayColor6;
  @include mixins.border(solid, 1px, 5px, variables.$grayColor4);
}

.MenuListCompositionItem {
  @include mixins.border();
  @include mixins.flex(column, left, left, nowrap);
  @include mixins.font(variables.$fontColor1, 1rem);
  width: 100%;
  background-color: transparent;
  padding: 5px;
  &:hover {
    background-color: variables.$actionColor1;
    cursor: pointer;
  }
}
